.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #11a3cf;
}

button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #05faea;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #09d6c8}

.button:active {
  background-color: #2fc4ba;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

h1 {
  margin: 30px;
  font-family: 'Monoton', cursive;
  text-shadow: 3px 0 #232931;
  font-size: 7.5rem;
  color: #dabe20;
}

hr {
  border: none
}

p, h3 {
  font-size: 2rem;
  color: #ffffff;
  font-family: 'Chakra Petch', sans-serif;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Chakra Petch', sans-serif;

}

