.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #11a3cf;
}

h1 {
  margin: 30px;
  font-family: 'Monoton', cursive;
  text-shadow: 3px 0 #232931;
  font-size: 7.5rem;
  color: #dabe20;
}

p {
  font-size: 2rem;
  color: #ffffff;
  font-family: 'Chakra Petch', sans-serif;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Chakra Petch', sans-serif;

}
